/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


.gameboard {
  height:100vh;
  display:grid;
  grid-template:100px 100px 100px / 100px 100px 100px;
  align-content:center;
  justify-content:Center;
}




.left-top {
	grid-row:1;
	grid-column:1;
}

.left-mid {
	grid-row:2;
	grid-column:1;
}

.left-bottom {
	grid-row:3;
	grid-column:1;

}

.mid-top {

	grid-row:1;
	grid-column:2;
}

.mid-mid {
	grid-row:2;
	grid-column:2;
}

.mid-bottom {
	grid-row:3;
	grid-column:2;
}

.right-top {
	grid-row:1;
	grid-column:3;
}

.right-mid {
	grid-row:2;
	grid-column:3;
}

.right-bottom {
	grid-row:3;
	grid-column:3;
}





.game {
  height:100px;
  width:100px;
  border:1px black solid;

}


.left-top, .left-mid, .left-bottom{
  border-left:none;
}

.left-top{
  border-top:none;
}


body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
